# Server Configuration
PORT=5000
WEBSOCKET_PORT=5001
JWT_SECRET=supersecretjwtdockerclonekey
JWT_REFRESH_SECRET=supersecretrefreshkey

# Database Configuration (PostgreSQL)
# Used inside docker-compose or locally
DATABASE_URL=postgresql://docker:dockerpassword@localhost:5432/dockerhub?schema=public

# Frontend Url
FRONTEND_URL=http://localhost:3000
